<!DOCTYPE html>
<html lang="en">
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.8.10/themes/smoothness/jquery-ui.css" type="text/css">
  <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.10/jquery-ui.min.js"></script>
  <script type="text/javascript" src="https://cdn.bokeh.org/bokeh/release/bokeh-2.2.1.min.js"></script>
  <script scr="{{ url_for('static', filename='js/sim.js') }}" type="text/javascript" charset="utf-8"></script>
<script scr="{{ url_for('static', filename='js/plot.js') }}" type="text/javascript" charset="utf-8"></script>
{% extends 'index.html' %}

  {% block content %}
  <head>
  </head>
  <span><a href="/">Home</a></span>
  <span><a href="/sim/{{sid}}">Simulation</a></span>
  <body>
    <form id="plot_form" action="/sim/{{iD}}/plot/display" method='POST'>
      <select name="plot_form">
	<option>Choose Plot</option>
	{% for f in plot_files %}
	<option value='{{ f}}'>{{ f}}</option>
	{% endfor %}
      </select>
      <input type="submit" value="Select">
      
    <div id="plot"></div>
    
    <script>
      fetch('/plot1')
      .then(function(response) { return response.json(); })
          .then(function(item) { return Bokeh.embed.embed_item(item,"plot"); })
  </script>
</body>
{% endblock %}
