<!DOCTYPE html>
<html lang="en">
<head>
    <title>Add</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/sim.css')}}"/>
    <script scr="{{ url_for('static', filename='js/sim.js') }}" type="text/javascript" charset="utf-8"></script>
    <script scr="{{ url_for('static', filename='js/plot.js') }}" type="text/javascript" charset="u\
tf-8"></script>
</head>
{% extends 'index.html' %}

{% block content %}
<span><a href="/">Home</a></span>
<span><a href="/sim/{{sid}}">Simulation</a></span>
<div id='sim'>
    <form id="add_form">
        <label for="add_name"><b>Name</b>：
            <input type="text" 
                   name="add_name"
                   autocomplete="off" 
                   placeholder="Enter Name Here" 
                   value="{{ selectedSim.name() }}">
        </label>
        <div id=editorContainer>
            <div id="editor">{{ selectedSim.inpFile() }}</div>    
        </div>
        <input type="submit" id="save" value="Save">
        <input type="button" id="run" value="Run">
    </form>
</div>
  <span><a href="/sim/{{sid}}/plot">Plot</a></span>
<div id="status">Ready</div>
<script>
  function sse() {
  var source = new EventSource('/stream');
  var display = document.getElementById("status");
  source.onmessage = function(e) {
  display.textContent =  e.data;
  };
  }
  sse();
</script>

<script src="{{ url_for('static', filename='js/ace.js') }}" type="text/javascript" charset="utf-8"></script> 
<script src="{{ url_for('static', filename='js/ext-language_tools.js') }}"></script>
<script src="{{ url_for('static', filename='js/sim.js') }}" type="text/javascript" charset="utf-8"></script> 
<script>
    ace.require("ext/language_tools");
    let editor = ace.edit("editor");//loading ace editor
    editor.setTheme("ace/theme/monokai");//set theme
    editor.getSession().setMode("ace/mode/lua");//language set-up
    editor.setFontSize(14)
    editor.setOptions({
        enableLiveAutocompletion: true,
        enableBasicAutocompletion: true,
    });
</script>
{% endblock %}
