.close {
    cursor: pointer;
    position: absolute;
    right: 10px;
}

ul li {
    padding:10px;
}

#content h2 {
    text-align: center;
}

ul li span {
    font-size:20px;
}
ul li span:hover { 
    background-color:grey;
}

a { text-decoration: none; color: black; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:focus { text-decoration: none; }
a:hover, a:active { text-decoration: none; }

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  border-right-width:1px;
  border-right-style:solid;
  border-color:black;
  background-color: black;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav h2 {
  color: white;
}
.sidenav #content ul * {
  color: white;
}
.sidenav .closebtn {
  color: white;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding :16px;
}

form > * {
  padding: 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}